{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><h5> Welcome Admin </h5></a>
    <a href="/adminallorders/" class="nav-link" ><h5>All Orders</h5></a>
    <a href="/admin/homepage/" class="btn btn-danger"><h5>Back</h5></a>
  </div>
</nav>

{% for odr in orders %}
<div style="margin:40px" class="alert alert-info" role="alert">
    <h5>Name : {{odr.username}}</h5>
    <h5>Phone Number : {{odr.phonno}}</h5>
    <h5>Delivery Address : {{odr.address}}</h5>
    <h5>Ordered Pizzas : {{odr.ordereditems}}</h5>
    <h5>Total Amount : {{odr.totalAmount}}</h5>
    <h5 style="display: inline-block"> Ordered Status : </h5> <h5 style="color:red;display: inline-block">{{odr.status}}</h5><br>
    <a href="/acceptorder/{{odr.id}}/" class="btn btn-success">Accept Order</a>
    <a href="/declineorder/{{odr.id}}/" class="btn btn-danger">Decline Order</a>
</div>
{% endfor %}







{% endblock %}