{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"><h5> Welcome Admin </h5></a>
    <a href="/adminallorders/" class="nav-link" ><h5>All Orders</h5></a>
    <a href="/admin/homepage/" class="btn btn-danger"><h5>Back</h5></a>
  </div>
</nav>

{% for odr in orders %}
<div style="margin:40px" class="alert alert-info" role="alert">
	<div style="float: left">
		<h6> Order Date : {{odr.created_date}}</h6>
		<h6 style="display: inline-block"> Order Status : </h6>
		<h6 style="color:red;display: inline-block">{{odr.status}}</h6>
		<h6>Name : {{odr.username}}</h6>
		<h6>Phone Number : {{odr.phonno}}</h6>
		<h6>Delivery Address : {{odr.address}}</h6>
		<h6>Total Amount : {{odr.totalAmount}}</h6>
	</div>
	<div style="float: right;">
		<a href="/acceptorder/{{odr.id}}/" class="btn btn-success">Accept Order</a>
    	<a href="/declineorder/{{odr.id}}/" class="btn btn-danger">Decline Order</a>
	</div>
	
	<div>
		<table class="table table-striped">
			<thead >
				<th>Item Name</th>
				<th>Price</th>
				<th>Quantity</th>
			</thead>
			<tbody>
					{% for key, detail in odr.ordereditems.items %}
					<tr>
						{% for k,v in detail.items %}
						<td>{{v}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				
	
			</tbody>
		</table>
	</div>
	

</div>
{% endfor %}



{% endblock %}