{% extends "base.html" %}

{% load static %}

{% block content %}

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Hello</a>
    <a href="/loginuser/" class="btn btn-danger">LogIn</a>
	<a href="/admin/" class="btn btn-danger">Admin LogIn</a>
  </div>
</nav>

{% for msj in messages %}
<h3 style="text-align : center ; color : red">{{msj}}</h3>
{% endfor %}


<div class="container-fluid" style="height:95vh;background-color: #e8d1f7;">

    <div style="background-color : #AC33FF;
             width : 350px;
             display : block;
             margin-top : 140px;
             position : absolute;
             right : 20px;
             padding : 17px">

    <form action="/signupuser/" method="post">

    {% csrf_token %}

    <h1 style="text-align : center ; color : white" >Sign Up</h1>

    <input type="text" style="display : block ; margin : auto;margin-top : 10px" class="form-control" style="margin-bottom : 15px" name="username" placeholder="User Name"  required="required"/>

    <input type="password" style="display : block ; margin : auto;margin-top : 15px;margin-bottom : 15px" class="form-control" name="password" placeholder="Password"  required="required"/>

    <input type="text" style="display : block ; margin : auto" class="form-control" style="margin-bottom : 15px" name="phoneno" placeholder="Phone Number"  required="required"/>

    <button type="submit" style="display : block ; margin : auto;margin-top : 15px" class="btn btn-primary">Sign Up</button>

    </form>

    </div>

</div>


{% endblock %}
